.step {
  display: flex;
}
.stepper {
  min-width: 100%;
  padding: 5% 0;
  background-color: rgb(1, 141, 251);
  color: #FFFFFF;
  font-family: 'Nexa-Bold', sans-serif;

  &__section {
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__actions {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;

      .action-container {
        display: flex;
      }

      .action {
        padding-bottom: 10px;
        transition: 0.8s ease;
        box-sizing: border-box;

        &__item {
          width: 182px;
          height: 182px;

          &--link {
            width: 50px;
            position: relative;
            bottom: 20px;
          }
        }

        &__text {
          font-family: 'Nexa-XBold', sans-serif;
          margin-top: 14px;
          text-transform: uppercase;
          font-weight: bolder;
          letter-spacing: .2em;
          line-height: 1.2em;
        }
      }

      .action:hover {
        box-sizing: border-box;
        transition: 0.8s ease;

        .test {
          background: url("../../assets/icons/icon_test_color.svg") center center no-repeat;
        }

        .vocab {
          background: url("../../assets/icons/icon_vocab_color.svg") center center no-repeat;
        }

        .reading {
          background: url("../../assets/icons/icon_reading_color.svg") center center no-repeat;
        }

        .train {
          background: url("../../assets/icons/icon_train_color.svg") center center no-repeat;
        }

        .target {
          background: url("../../assets/icons/icon_target_color.svg") center center no-repeat;
        }
      }

      .arrow {
        background: url("../../assets/icons/icon_arrow.svg") center center no-repeat;
      }

      .test {
        background: url("../../assets/icons/icon_test.svg") center center no-repeat;
      }

      .vocab {
        background: url("../../assets/icons/icon_vocab.svg") center center no-repeat;
      }

      .reading {
        background: url("../../assets/icons/icon_reading.svg") center center no-repeat;
      }

      .train {
        background: url("../../assets/icons/icon_train.svg") center center no-repeat;
      }

      .target {
        background: url("../../assets/icons/icon_target.svg") center center no-repeat;
      }
    }

    &__text {
      padding: 5% 12% 0 12%;
      text-align: left;
      line-height: 2em;
      letter-spacing: .1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stepper {
    &__section {
      &__actions {
        .action {
          margin-right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &__item {
            width: 80px;
            height: 80px;
          }

          &__text {
            font-size: 8px;
          }
        }

        .action:hover {
          .test {
            background: url("../../assets/icons/icon_test_md_color.svg") center center no-repeat;
          }

          .vocab {
            background: url("../../assets/icons/icon_vocab_md_color.svg") center center no-repeat;
          }

          .reading {
            background: url("../../assets/icons/icon_reading_md_color.svg") center center no-repeat;
          }

          .train {
            background: url("../../assets/icons/icon_train_md_color.svg") center center no-repeat;
          }

          .target {
            background: url("../../assets/icons/icon_target_md_color.svg") center center no-repeat;
          }
        }

        .test {
          background: url("../../assets/icons/icon_test_md.svg") center center no-repeat;
        }

        .vocab {
          background: url("../../assets/icons/icon_vocab_md.svg") center center no-repeat;
        }

        .reading {
          background: url("../../assets/icons/icon_reading_md.svg") center center no-repeat;
        }

        .train {
          background: url("../../assets/icons/icon_train_md.svg") center center no-repeat;
        }

        .target {
          background: url("../../assets/icons/icon_target_md.svg") center center no-repeat;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .stepper {
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .stepper {

    &__section {
      &__actions {
        .action {
          margin-right: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &__item {
            width: 62px;
            height: 62px;
          }

          &__text {
            font-size: 12px;
          }
        }

        .action:last-child {
          margin-right: 0;
        }
      }

      &__text {
        padding: 10%;
      }
    }
  }
}
