.stepper {
  padding: 5%;

  &__bg {
    right: 5%;
    margin-top: -400px;
    position: absolute;
    width: 500px;
    height: 500px;
    background: url("../../assets/icons/logo-bg.svg") center center no-repeat;
    z-index: -1;
    opacity: 0.2;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;

      .action {
        margin-right: 20px;
        padding-bottom: 10px;
        transition: 0.5s ease-in-out;
        box-sizing: border-box;
        border: 0.5px solid #FFFFFF;

        &__item {
          width: 100px;
          height: 100px;
        }


        &__text {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .2em;
        }
      }

      .action:hover {
        box-sizing: border-box;
        background-color: #fafafa;
        color: #619756;
        box-shadow: 0 2px 8px #8cbe828c;
        border: 0.5px solid #8CBE82;
      }

      .test {
        background: url("../../assets/icons/test.svg") center center no-repeat;
      }

      .teach {
        background: url("../../assets/icons/teach.svg") center center no-repeat;
      }

      .train {
        background: url("../../assets/icons/train.svg") center center no-repeat;
      }

      .target {
        background: url("../../assets/icons/target.svg") center center no-repeat;
      }
    }

    &__text {
      padding: 2% 10%;
      text-align: center;
      letter-spacing: .1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stepper {
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .stepper {
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .stepper {
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .stepper {
    &__bg {
      right: 5%;
      margin-top: -400px;
      position: absolute;
      width: 400px;
      height: 400px;
      background: url("../../assets/icons/logo-bg.svg") center center no-repeat;
      z-index: -1;
      opacity: 0.1;
      object-fit: cover;
    }

    &__section {
      &__actions {
        .action {
          margin-right: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &__item {
            width: 62px;
            height: 62px;
          }

          &__text {
            font-size: 12px;
          }
        }

        .action:last-child {
          margin-right: 0;
        }
      }

      &__text {
        padding: 10%;
      }
    }
  }
}
