.stepper {
  padding: 5% 0;
  background-color: #018dfb;
  color: #ffffff;
  font-family: 'Nexa-Bold', sans-serif;
}
.stepper__section {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stepper__section__actions {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stepper__section__actions .action-container {
  display: flex;
}
.stepper__section__actions .action {
  padding-bottom: 10px;
  transition: 0.8s ease;
  box-sizing: border-box;
}
.stepper__section__actions .action__item {
  width: 182px;
  height: 182px;
}
.stepper__section__actions .action__item--link {
  width: 50px;
  position: relative;
  bottom: 20px;
}
.stepper__section__actions .action__text {
  font-family: 'Nexa-XBold', sans-serif;
  margin-top: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.2em;
  line-height: 1.2em;
}
.stepper__section__actions .action:hover {
  box-sizing: border-box;
  transition: 0.8s ease;
}
.stepper__section__actions .action:hover .test {
  background: url('../../assets/icons/icon_test_color.svg') center center
    no-repeat;
}
.stepper__section__actions .action:hover .vocab {
  background: url('../../assets/icons/icon_vocab_color.svg') center center
    no-repeat;
}
.stepper__section__actions .action:hover .reading {
  background: url('../../assets/icons/icon_reading_color.svg') center center
    no-repeat;
}
.stepper__section__actions .action:hover .train {
  background: url('../../assets/icons/icon_train_color.svg') center center
    no-repeat;
}
.stepper__section__actions .action:hover .target {
  background: url('../../assets/icons/icon_target_color.svg') center center
    no-repeat;
}
.stepper__section__actions .arrow {
  background: url('../../assets/icons/icon_arrow.svg') center center no-repeat;
}
.stepper__section__actions .test {
  background: url('../../assets/icons/icon_test.svg') center center no-repeat;
}
.stepper__section__actions .vocab {
  background: url('../../assets/icons/icon_vocab.svg') center center no-repeat;
}
.stepper__section__actions .reading {
  background: url('../../assets/icons/icon_reading.svg') center center no-repeat;
}
.stepper__section__actions .train {
  background: url('../../assets/icons/icon_train.svg') center center no-repeat;
}
.stepper__section__actions .target {
  background: url('../../assets/icons/icon_target.svg') center center no-repeat;
}
.stepper__section__text {
  padding: 5% 12% 0 12%;
  text-align: left;
  line-height: 2em;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stepper__section__actions .action {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stepper__section__actions .action__item {
    width: 80px;
    height: 80px;
  }
  .stepper__section__actions .action__text {
    font-size: 8px;
  }
  .stepper__section__actions .action:hover .test {
    background: url('../../assets/icons/icon_test_md_color.svg') center center
      no-repeat;
  }
  .stepper__section__actions .action:hover .vocab {
    background: url('../../assets/icons/icon_vocab_md_color.svg') center center
      no-repeat;
  }
  .stepper__section__actions .action:hover .reading {
    background: url('../../assets/icons/icon_reading_md_color.svg') center
      center no-repeat;
  }
  .stepper__section__actions .action:hover .train {
    background: url('../../assets/icons/icon_train_md_color.svg') center center
      no-repeat;
  }
  .stepper__section__actions .action:hover .target {
    background: url('../../assets/icons/icon_target_md_color.svg') center center
      no-repeat;
  }
  .stepper__section__actions .test {
    background: url('../../assets/icons/icon_test_md.svg') center center
      no-repeat;
  }
  .stepper__section__actions .vocab {
    background: url('../../assets/icons/icon_vocab_md.svg') center center
      no-repeat;
  }
  .stepper__section__actions .reading {
    background: url('../../assets/icons/icon_reading_md.svg') center center
      no-repeat;
  }
  .stepper__section__actions .train {
    background: url('../../assets/icons/icon_train_md.svg') center center
      no-repeat;
  }
  .stepper__section__actions .target {
    background: url('../../assets/icons/icon_target_md.svg') center center
      no-repeat;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .stepper__section__actions .action {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stepper__section__actions .action__item {
    width: 62px;
    height: 62px;
  }
  .stepper__section__actions .action__text {
    font-size: 12px;
  }
  .stepper__section__actions .action:last-child {
    margin-right: 0;
  }
  .stepper__section__text {
    padding: 10%;
  }
}
