.grade {
  margin-top:5%;
  border-spacing: 0;
  font-family: 'Nexa-Bold', sans-serif;

  &--chart {
  width: 50%;
  }

  &__cell {
    border: 1px solid #ffffff;
    width: 100px;

    &--head {
      padding: 10px;
      .content {
        display: flex;
        align-items: center;
        &__eye {
          width: 64px;
          height: 36px;
          margin-left: 20px;
          background: url("../../assets/icons/icon_eye.svg") center center no-repeat;
        }

        &__text {
          position: absolute;
          margin-left: 100px;
          text-align: start;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 1.0em;
        }
      }
    }

    &--body {
      padding: 30px 20px 10px 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 5.0em;
      transition: 0.5s ease;

      p {
        font-size: 0.6rem;
      }
    }

    &--body:hover {
      background: #73aa4f;
      text-shadow: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 320px) and (max-width: 767px) {
  .grade {
    padding: 20px;

    &__cell {
      padding: 10px;
      width: 60px;

      &--body {
        font-size: 2.0em;

        p {
          font-size: 0.4rem;
        }
      }
    }
  }
}
