.grade {
  display: block;
  margin-top: 5%;
  border-spacing: 0;
  font-family: 'Nexa-Bold', sans-serif;
}
.grade--popup {
  margin-top: 0;
}
.grade--popup .grade__cell--body {
  padding: 10px 5px 3px 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.6em;
  transition: 0.5s ease;
}
.grade--popup .grade__cell--body p {
  font-size: 0.2rem;
}
.grade--popup .grade--popup__ms {
  background: #bb00d7;
  text-shadow: none;
}
.grade--popup .grade--popup__hs {
  background: #008dfb;
  text-shadow: none;
}
.grade--popup .grade--popup__ell {
  background: #d71920;
  text-shadow: none;
}
.grade--chart {
  width: 50%;
}
.grade__cell {
  border: 1px solid #ffffff;
  width: 100px;
}
.grade__cell--head {
  padding: 10px;
}
.grade__cell--head .content {
  display: flex;
  align-items: center;
}
.grade__cell--head .content__eye {
  width: 64px;
  height: 36px;
  margin-left: 20px;
  background: url('../../assets/icons/icon_eye.svg') center center no-repeat;
}
.grade__cell--head .content__text {
  position: absolute;
  margin-left: 100px;
  text-align: start;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
}
.grade__cell--body {
  padding: 30px 20px 10px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 5em;
  transition: 0.5s ease;
}
.grade__cell--body p {
  font-size: 0.6rem;
}
.grade__cell--body:nth-child(1):hover {
  background: #bb00d7;
  text-shadow: none;
}
.grade__cell--body:nth-child(2):hover {
  background: #008dfb;
  text-shadow: none;
}
.grade__cell--body:nth-child(3):hover {
  background: #d71920;
  text-shadow: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  display: block;
}

@media (min-width: 481px) and (max-width: 767px) {
  .grade {
    display: block;
    padding: 20px;
  }
  .grade__cell {
    padding: 10px;
    width: 60px;
  }
  .grade__cell--body {
    font-size: 2em;
  }
  .grade__cell--body p {
    font-size: 0.4rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .grade {
    display: none;
  }
}
