.grade {
  display: block;
  margin-top:5%;
  border-spacing: 0;
  font-family: 'Nexa-Bold', sans-serif;

  &--popup {
    margin-top:0;

    .grade {
    &__cell {
      &--body {
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 5em;
        transition: 0.5s ease;
  
        p {
          font-size: 0.2rem;
        }
      }
    }

    &--popup {

    &__ms {
      background: rgb(187, 0, 215);
      text-shadow: none;
    }
  
    &__hs {
      background: rgb(0, 141, 251);
      text-shadow: none;
    }
  
    &__ell {
      background: rgb(215, 25, 32);
      text-shadow: none;
    }
  }
  }
  }

  &--chart {
  width: 50%;
  }

  &__cell {
    border: 1px solid #ffffff;
    width: 100px;

    &--head {
      padding: 10px;
      .content {
        display: flex;
        align-items: center;
        &__eye {
          width: 96px;
          height: 48px;
          margin-left: 20px;
          background: url("../../assets/icons/icon_eye.svg") center center no-repeat;
        }

        &__text {
          position: absolute;
          margin-left: 100px;
          text-transform: uppercase;
          font-size: 1.4em;
          margin-top: 2px
        }
      }
    }

    &--body {
      padding: 30px 20px 10px 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 7.0em;
      transition: 0.5s ease;

      p {
        font-size: 0.6rem;
      }
    }

    &--body:nth-child(1):hover {
      background: rgb(187, 0, 215);
      text-shadow: none;
    }

    &--body:nth-child(2):hover {
      background: rgb(0, 141, 251);
      text-shadow: none;
    }

    &--body:nth-child(3):hover {
      background: rgb(215, 25, 32);
      text-shadow: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grade {
    display: block;

    &__cell {

      &--body {
        font-size: 6.0em;

        p {
          font-size: 0.4rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .grade {
    display: block;

    &__cell {
      padding: 10px;
      width: 60px;

      &--body {
        font-size: 2.0em;

        p {
          font-size: 0.4rem;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .grade {
display: none;
  }
}
