.chart {
  margin: 10% 0;
}
.chart__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.chart__section .methodsFooter {
  padding: 30px 60px;
}
.chart__table {
  border-collapse: collapse;
  width: 80%;
  color: #000000;
  background-color: #ffffff;
  text-shadow: none;
  box-shadow: 0 2px 8px #8cbe828c;
}
.chart__table thead {
  background-color: #8cbe82;
  color: #ffffff;
}
.chart__table td,
.chart__table th {
  font-weight: normal;
  text-align: left;
  padding: 14px 20px;
}
.chart__table td:not(:first-child) {
  text-align: center;
}
.chart__table th:not(:first-child) {
  text-align: center;
}
.chart__table .readingContent {
  text-align: left !important;
}
.chart__table tr:nth-child(even) {
  background-color: #eeeeee;
}
.chart__table__correct {
  color: #8cbe82;
}
.chart__table__wrong {
  color: #d6312e;
}
.chart .fullCircle {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: #d6e8ba;
  z-index: -1;
  left: 50px;
  margin-top: -100px;
}
.chart .fullCircle--readings {
  left: auto;
  margin-top: -40px;
}
.chart .fullCircle1 {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #8cbe82;
  z-index: -1;
  right: 30px;
  margin-top: 260px;
}
.chart .fullCircle1--readings {
  right: auto;
  left: 90px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chart .fullCircle {
    left: 10px;
    margin-top: -130px;
  }
  .chart .fullCircle1 {
    right: 10px;
    margin-top: 370px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .chart__section .methodsFooter {
    font-size: 14px;
  }
  .chart__table {
    font-size: 11px;
  }
  .chart__table td,
  .chart__table th {
    text-align: center;
    padding: 14px 8px;
  }
  .chart .fullCircle {
    height: 100px;
    width: 100px;
    left: 10px;
    margin-top: -160px;
  }
  .chart .fullCircle1 {
    height: 100px;
    width: 100px;
    right: 10px;
    margin-top: 290px;
  }
}
