.chart {
  padding: 5%;
  background-color: #bb00d7;
}
.chart--bg {
  background-color: #ec008c;
}
.chart__section {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.chart__table {
  border-collapse: collapse;
  color: #000000;
  background-color: #ffffff;
  text-shadow: none;
  box-shadow: 0 2px 8px #8cbe828c;
  z-index: 2;
}
.chart__table thead {
  background-color: #8cbe82;
  color: #ffffff;
}
.chart__table td,
.chart__table th {
  font-weight: normal;
  text-align: left;
  padding: 14px 20px;
}
.chart__table td:not(:first-child) {
  text-align: center;
}
.chart__table th:not(:first-child) {
  text-align: center;
}
.chart__table .readingContent:first-child {
  color: #619756;
  font-weight: bold;
}
.chart__table .readingContent {
  text-align: left !important;
}
.chart__table tr:nth-child(even) {
  background-color: #eeeeee;
}
.chart__table__correct {
  color: #8cbe82;
}
.chart__table__wrong {
  color: #d6312e;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chart__section {
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .chart__section {
    padding: 0;
  }
  .chart__table {
    font-size: 11px;
  }
  .chart__table td,
  .chart__table th {
    text-align: center;
    padding: 14px 8px;
  }
}
