.chart {
  height: 100vh;
  perspective: 2px;

  &__section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* For text formatting. */
    color: white;
    text-shadow: 0 0 5px #000;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  &--bg::after {
    //background: url('../../assets/images/chart_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chart {
    &--bg::after {
      //background: url('../../assets/images/chart_bg_ipad.jpg') no-repeat center center fixed;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .chart {
    &--bg::after {
      //background: url('../../assets/images/chart_bg_ipad_land.jpg') no-repeat center center fixed;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .chart {
    &--bg::after {
      //background: url('../../assets/images/chart_bg_mob.jpg') no-repeat center center fixed;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .chart {
    &--bg::after {
      //background: url('../../assets/images/chart_bg_mob.jpg') no-repeat center center fixed;
    }
  }
}
