.chart {
  margin: 10% 0;

  &--bg {
    background-color: #fafafa;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;

    .methodsFooter {
      padding: 30px 60px;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 80%;
    color: #000000;
    background-color: #FFFFFF;
    text-shadow: none;
    box-shadow: 0 2px 8px #8cbe828c;
    z-index: 2;

    thead {
      background-color: #8CBE82;
      color: #FFFFFF;
    }

    td, th {
      font-weight: normal;
      text-align: left;
      padding: 14px 20px;
    }


    td:not(:first-child) {
      text-align: center;
    }

    th:not(:first-child) {
      text-align: center;
    }

    .readingContent {
      text-align: left !important;
    }

    tr:nth-child(even) {
      background-color: #eeeeee;
    }

    &__correct {
      color: #8CBE82;
    }

    &__wrong {
      color: #D6312E;
    }
  }

  .fullCircle {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: #D6E8BA;
    z-index: 1;
    left: 50px;
    margin-top: -100px;

    &--readings {
      left: auto;
      margin-top: -40px;
    }
  }

  .fullCircle1 {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #8CBE82;
    z-index: 1;
    right: 30px;
    margin-top: 260px;

    &--readings {
      right: auto;
      left: 90px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chart {
    .fullCircle {
      left: 10px;
      margin-top: -130px;
    }

    .fullCircle1 {
      right: 10px;
      margin-top: 370px;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .chart {
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .chart {
    &__section {
      .methodsFooter {
        font-size: 14px;
      }
    }
    &__table {
      font-size: 11px;

      td, th {
        text-align: center;
        padding: 14px 8px;
      }
    }

    .fullCircle {
      height: 100px;
      width: 100px;
      left: 10px;
      margin-top: -160px;
    }

    .fullCircle1 {
      height: 100px;
      width: 100px;
      right: 10px;
      margin-top: 290px;
    }
  }
}
