.chart {
  padding: 5%;
  background-color: rgb(187, 0, 215);

  &--bg {
    background-color: rgb(236, 0, 140);
  }

  &__section {
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }

  &__table {
    border-collapse: collapse;
    color: #000000;
    background-color: #FFFFFF;
    text-shadow: none;
    box-shadow: 0 2px 8px #8cbe828c;
    z-index: 2;

    thead {
      background-color: #8CBE82;
      color: #FFFFFF;
    }

    td, th {
      font-weight: normal;
      text-align: left;
      padding: 14px 20px;
    }

    td:not(:first-child) {
      text-align: center;
    }

    th:not(:first-child) {
      text-align: center;
    }

    .readingContent:first-child {
      color: #619756;
      font-weight: bold;
    }
    .readingContent {
      text-align: left !important;
    }

    tr:nth-child(even) {
      background-color: #eeeeee;
    }

    &__correct {
      color: #8CBE82;
    }

    &__wrong {
      color: #D6312E;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chart {
    &__section {
      padding: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .chart {
    &__section {
      padding: 0;
    }
    &__table {
      font-size: 11px;

      td, th {
        text-align: center;
        padding: 14px 8px;
      }
    }
  }
}
