.section {
  z-index: 4;

  &__header {
    font-size: 4em;
    font-weight: 100;
    margin: 0;

    span {
      font-family: 'BELLI', sans-serif;
      font-size: 5rem;
    }
  }

  &__sub-header {
    font-size: 2.6em;
    margin: 8px 0;
    text-transform: uppercase;
  }

  &__content {
    margin-top: 10px;
    font-size: 1.4em;

    p {
      margin: 0;
      line-height: 2.0em;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section {

    &__sub-header {
      line-height: 1.4em;
      margin: 0;
    }

    &__content {
      margin-top: 10px;
      font-size: 1.6em;
      font-weight: normal;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section {

    &__header {
      font-size: 3.2em;

      span {
        font-size: 4rem;
      }
    }

    &__sub-header {
      font-size: 1.4em;
      letter-spacing: 0.1em;
      line-height: 2rem;
    }

    &__content {
      font-size: 0.8em;
    }
  }
}