.section {
  z-index: 4;
}
.section__header {
  font-size: 4em;
  font-weight: 100;
  margin: 0;
}
.section__header span {
  font-family: 'BELLI', sans-serif;
  font-size: 5rem;
}
.section__sub-header {
  font-size: 2.6em;
  margin: 8px 0;
  text-transform: uppercase;
  line-height: 1.6em;
}
.section__content {
  margin-top: 10px;
  font-size: 1.4em;
}
.section__content p {
  margin: 0;
  line-height: 2em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__sub-header {
    line-height: 1.4em;
    margin: 0;
  }
  .section__content {
    margin-top: 10px;
    font-size: 1.6em;
    font-weight: normal;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section__header {
    font-size: 3.2em;
  }
  .section__header span {
    font-size: 4rem;
  }
  .section__sub-header {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    line-height: 2rem;
  }
  .section__content {
    font-size: 0.8em;
  }
}
