.testimonial {
  padding: 8% 0;
  background-color: #d71920;
}
.testimonial .back {
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  right: 35px;
  color: #ffffff;
  letter-spacing: 0.1em;
  z-index: 10;
}
.testimonial__section {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.testimonial__section .section {
  margin-bottom: 50px;
}
.testimonial__section__content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.testimonial__section__content .student--story {
  margin-top: 60px;
  margin-left: 30px;
  display: block;
  max-height: 400px;
  width: auto;
  height: auto;
}
.testimonial__section__content .quote--image {
  min-width: 180px;
  height: 485px;
  z-index: 1;
  background: url('../../assets/icons/icon_quote_plain.svg') center center
    no-repeat;
}
.testimonial__section__content .user--content {
  margin: 5% 2% 0 0%;
  min-height: 270px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: 'Nexa-Heavy-Italic', sans-serif;
}
.testimonial__section__content .user--content__summary {
  font-family: 'Nexa-Book-Italic', sans-serif;
  font-size: 0.8em;
  line-height: 1.4em;
  margin-top: 20px;
  margin-left: 5%;
}
.testimonial__section__content .user--content__summary span {
  font-family: 'Nexa-Heavy-Italic', sans-serif;
}
.testimonial__section__content .user--content__comment {
  font-family: 'Nexa-Black', sans-serif;
  font-size: 1em;
  margin: 30px 0;
  margin-left: 2%;
}
.testimonial__section__content .user--content__use {
  font-family: 'Nexa-Book-Italic', sans-serif;
  font-size: 18px;
}
.testimonial__section__content .user--content__info {
  display: flex;
  margin-left: -3%;
}
.testimonial__section__content .user--content__info--detail {
  padding-right: 30%;
}
.testimonial__section__content .user--content__info__img {
  display: block;
  max-height: 250px;
  width: auto;
  height: auto;
}
.testimonial__section__content .user--content__more {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 12px;
  font-family: 'Nexa-Black', sans-serif;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonial {
    padding: 15% 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .testimonial {
    padding: 20% 0;
  }
  .testimonial__section .section {
    margin-bottom: 0;
  }
  .testimonial__section__content {
    min-height: 650px;
    flex-direction: column;
  }
  .testimonial__section__content .student--story {
    margin: 0;
    display: block;
    max-height: none;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .testimonial__section__content .quote--image {
    display: none;
  }
  .testimonial__section__content .user--image {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
  }
  .testimonial__section__content .user--content {
    margin: 5%;
  }
  .testimonial__section__content .user--content__summary {
    margin-left: 0;
  }
  .testimonial__section__content .user--content__name {
    margin-top: 20px;
  }
  .testimonial__section__content .user--content__info {
    margin: 0;
    flex-direction: column;
  }
  .testimonial__section__content .user--content__info--detail {
    padding: 0;
  }
  .testimonial__section__content .user--content__info__img {
    margin-top: 40px;
    display: block;
    max-height: 250px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .testimonial__section__left {
    position: absolute;
    width: 33px;
    height: 37px;
    left: 2%;
    background: url('../../assets/icons/icon_arrow_left_md.svg') center center
      no-repeat;
  }
  .testimonial__section__right {
    position: absolute;
    width: 33px;
    height: 37px;
    right: 2%;
    background: url('../../assets/icons/icon_arrow_right_md.svg') center center
      no-repeat;
  }
}
