.about {
  padding: 5% 12%;
  background: url("../../assets/images/about_bg.jpg") no-repeat fixed center;
  background-size: cover;
  color: #ffffff;

  &__content {
    padding-right: 50%;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    padding: 10%;
    background: url("../../assets/images/about_bg_ipad.jpg") no-repeat;
      background-size: cover;
      -webkit-background-size: cover;

    &__content {
      padding-right: 20%;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about {
    background: url("../../assets/images/about_bg_ipad.jpg") no-repeat fixed;
      background-size: cover;
      -webkit-background-size: cover;
    padding: 20% 5%;
    &__content {
      padding-right: 10%;
    }
  }
}
