.sidebar {
  height: 100%;
  background: rgb(142, 179, 82);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  z-index: 7;
  transform: translateX(100%);
  transition: 0.5s ease;

  .close {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("../../assets/icons/icon_mark_x_white.svg") center center
      no-repeat;
  }

  &--open {
    transform: translateX(0);
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    link,
    a {
      text-decoration: none;
    }

    p {
      margin: 0 2%;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      color: #ffffff;
      font-size: 1.4em;
      line-height: 2em;
      font-weight: bold;
      transition: 0.5s ease;
      border-spacing: 10px;
      padding: 8px 24px;

      span {
        color: rgb(142, 179, 82);
      }
    }

    p:hover {
      color: #000000;

      span {
        color: #000000;
      }
    }
  }

  &__address {
    margin: 0 5%;
    padding: 20px 5%;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 60%;

    &__items {
      p {
        margin: 0 2%;
      }
    }

    &__address {
      margin: 5%;
      padding: 20px 5%;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .sidebar {
    width: 80%;

    .close {
      top: 20px;
      right: 20px;
    }


    &__items {
      p {
        margin: 0 2%;
      }
    }

    &__address {
      margin: 0 2%;
      padding: 20px 2%;
      font-size: 11px;
    }
  }
}
