.gradepopup {
  width: 100%;
  height: 100%;
  padding: 40px 60px;
  top: 60px;
  left: 78px;
  z-index: 8;
  position: fixed;
  background: #8eb352;
}
.gradepopup .close {
  position: absolute;
  top: 30px;
  right: 230px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url('../../assets/icons/icon_mark_x_white.svg') center center
    no-repeat;
}
.gradepopup .popup--body {
  min-width: 49%;
  max-width: 50%;
  margin-top: 20px;
}
.gradepopup .header {
  display: flex;
  flex-direction: row;
  height: auto;
}
.gradepopup .header__link {
  margin-left: 3%;
}
.gradepopup .header__link p {
  font-size: 18px;
  margin-bottom: 12px;
  cursor: pointer;
}
.gradepopup .header__link p:nth-child(3) {
  margin-bottom: 13px;
}
.gradepopup .header__link .ms {
  color: #bb00d7;
}
.gradepopup .header__link .hs {
  color: #008dfb;
}
.gradepopup .header__link .ell {
  color: #d71920;
}
.gradepopup .header__link .white {
  color: #ffffff;
}
.gradepopup .header__link .green {
  color: #8eb352;
}
.gradepopup .header__action {
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
}
.gradepopup .header__action p {
  margin: 0;
  font-size: 14px;
  display: inline-block;
  padding: 2px 4px 0px 4px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gradepopup {
    display: block;
  }
  .gradepopup .popup--body {
    min-width: 60%;
    max-width: 65%;
    margin-top: 20px;
  }
  .gradepopup .header {
    flex-direction: column;
  }
  .gradepopup .header__link {
    margin: 40px 0;
  }
  .gradepopup .header__link p {
    font-size: 1.6em;
    line-height: 1.6em;
  }
  .gradepopup .header__action p {
    margin: 0;
    padding: 8px 4px 0px 4px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .gradepopup {
    display: none;
  }
}
