.contact {
  padding: 5% 12%;
  height: 100vh;
  background: url('../../assets/images/contact_bg.jpg') no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
}
.contact__content {
  margin-top: 50px;
}
.contact__content .button {
  font-family: 'Nexa-Black', sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  background: none;
  padding: 12px 0;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: 0.5s ease;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.contact__content .email {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_email.svg') center center no-repeat;
}
.contact__content .phone {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_phone.svg') center center no-repeat;
}
.contact__content .location {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_location.svg') center center
    no-repeat;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact {
    background: url('../../assets/images/contact_bg_ipad.jpg') no-repeat fixed
      center;
    padding: 10%;
    background-size: cover;
    -webkit-background-size: cover;
    height: auto;
  }
  .contact__content {
    padding-right: 30%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .contact {
    background: url('../../assets/images/contact_bg_mob.jpg') no-repeat center
      center fixed;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact {
    padding: 20% 5%;
    height: auto;
    background: url('../../assets/images/contact_bg_mob.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  .contact__content {
    padding-right: 10%;
  }
}
