.header {
  height: 100vh;

  &__section {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }

  .parallax {
    z-index: -1;
    height: 100vh;
    background: url('../../assets/images/header_bg.jpg') no-repeat fixed center;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    .parallax {
      background: url('../../assets/images/header_bg_ipad.jpg') no-repeat center center fixed;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header {
    .parallax {
      background: url('../../assets/images/header_bg_ipad_land.jpg') no-repeat center center fixed;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    .parallax {
      background: url('../../assets/images/header_bg_mob.jpg') no-repeat center center fixed;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    .parallax {
      background: url('../../assets/images/header_bg_mob.jpg') no-repeat center center fixed;
    }
  }
}
