.method {
  min-width: 100%;
  height: auto;
  padding: 5% 0;
  color: #ffffff;
  background: #FFFFFF;
  scroll-behavior: smooth;

  &--test {
    background-color: rgb(142, 179, 82);
  }
  &--vocab {
    background-color: rgb(236, 0, 140);
  }
  &--reading {
    background-color: rgb(244, 121, 32);
  }
  &--train {
    background-color: rgb(25, 137, 125);
  }
  &--target {
    background-color: rgb(187, 0, 215);
  }

  &__content {
    padding: 0 10%;

    &--body {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      align-items: flex-start;

      &__action {
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .item {
          width: 182px;
          height: 182px;
        }

        .action {
          border: 1px solid #ffffff;
          display: inline-block;
          color: #ffffff;
          margin-top: 20px;

          p {
              margin: 0;
              font-size: 14px;
              display: inline-block;
              padding: 2px 4px 0px 4px;
          }
      }

        .text {
          font-size: 1.6em;
          font-family: 'Nexa-XBold', sans-serif;
          margin-top: 20px;
          line-height: 1.2em;
        }

        .test {
          background: url("../../assets/icons/icon_test_color.svg") center center no-repeat;
        }

        .vocab {
          background: url("../../assets/icons/icon_vocab_color.svg") center center no-repeat;
        }

        .reading {
          background: url("../../assets/icons/icon_reading_color.svg") center center no-repeat;
        }

        .train {
          background: url("../../assets/icons/icon_train_color.svg") center center no-repeat;
        }

        .target {
          background: url("../../assets/icons/icon_target_color.svg") center center no-repeat;
        }
      }

      &__info {
        width: 30%;
        padding: 0 2%;
        line-height: 2em;

        .text {
          margin-bottom: 20px;
        }

        .list {
          margin-left: 20px;
        }
      }

      &__image {
        display: block;
        max-height: 400px;
        max-width: 50%;
        // min-width: 50%;
        height: auto;
        object-fit: contain;
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .method {
    &__content {
      &--body {
      &__action {
        width: 20%;
        
        .item {
          width: 80px;
          height: 80px;
        }

        .test {
          background: url("../../assets/icons/icon_test_md_color.svg") center center no-repeat;
        }

        .vocab {
          background: url("../../assets/icons/icon_vocab_md_color.svg") center center no-repeat;
        }

        .reading {
          background: url("../../assets/icons/icon_reading_md_color.svg") center center no-repeat;
        }

        .train {
          background: url("../../assets/icons/icon_train_md_color.svg") center center no-repeat;
        }

        .target {
          background: url("../../assets/icons/icon_target_md_color.svg") center center no-repeat;
        }
      }

      &__info {
        width: 45%;
      }

      &__image {
        width: 35%
      }
    }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .method {
    &__content {
      padding: 0 5%;
      &--body {
        display: flex;
      flex-direction: column;
      
      &__action {
        width: 100%;
        
        .item {
          width: 80px;
          height: 80px;
        }

        .action {
          display: none;
        }

        .test {
          background: url("../../assets/icons/icon_test_md_color.svg") center center no-repeat;
        }

        .vocab {
          background: url("../../assets/icons/icon_vocab_md_color.svg") center center no-repeat;
        }

        .reading {
          background: url("../../assets/icons/icon_reading_md_color.svg") center center no-repeat;
        }

        .train {
          background: url("../../assets/icons/icon_train_md_color.svg") center center no-repeat;
        }

        .target {
          background: url("../../assets/icons/icon_target_md_color.svg") center center no-repeat;
        }
      }

      &__info {
        width: 100%;
        padding: 0;
        margin: 40px 0;
      }

      &__image {
        min-width: 100%;
      }
    }
    }
  }
}