.method {
  min-width: 100%;
  height: auto;
  padding: 5% 0;
  color: #ffffff;
  background: #FFFFFF;

  &--test {
    background-color: rgb(142, 179, 82);
  }
  &--vocab {
    background-color: rgb(236, 0, 140);
  }
  &--reading {
    background-color: rgb(244, 121, 32);
  }
  &--train {
    background-color: rgb(25, 137, 125);
  }
  &--target {
    background-color: rgb(187, 0, 215);
  }

  &__content {
    padding: 0 4% 0 12%;

    &--body {
      display: flex;
      flex-direction: row;
      margin-top: 40px;

      &__action {
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .item {
          width: 182px;
          height: 182px;
        }

        .text {
          font-size: 24px;
          font-family: 'Nexa-XBold', sans-serif;
          margin-top: 20px;
          line-height: 1.2em;
        }

        .test {
          background: url("../../assets/icons/icon_test_color.svg") center center no-repeat;
        }

        .vocab {
          background: url("../../assets/icons/icon_vocab_color.svg") center center no-repeat;
        }

        .reading {
          background: url("../../assets/icons/icon_reading_color.svg") center center no-repeat;
        }

        .train {
          background: url("../../assets/icons/icon_train_color.svg") center center no-repeat;
        }

        .target {
          background: url("../../assets/icons/icon_target_color.svg") center center no-repeat;
        }
      }

      &__info {
        width: 20%;
        padding: 0 2%;
        line-height: 1.4em;

        .text {
          margin-bottom: 20px;
        }

        .list {
          margin-left: 20px;
        }
      }

      &__image {
        display: block;
        max-height: 400px;
        max-width: 60%;
        min-width: 20%;
        height: auto;
      }
    }
  }

}