.method {
  min-width: 100%;
  height: auto;
  padding: 5% 0;
  color: #ffffff;
  background: #ffffff;
}
.method--test {
  background-color: #8eb352;
}
.method--vocab {
  background-color: #ec008c;
}
.method--reading {
  background-color: #f47920;
}
.method--train {
  background-color: #19897d;
}
.method--target {
  background-color: #bb00d7;
}
.method__content {
  padding: 0 5%;
}
.method__content--body {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: flex-start;
}
.method__content--body__action {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.method__content--body__action .item {
  width: 182px;
  height: 182px;
}
.method__content--body__action .action {
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  margin-top: 20px;
}
.method__content--body__action .action p {
  margin: 0;
  font-size: 14px;
  display: inline-block;
  padding: 2px 4px 0px 4px;
}
.method__content--body__action .text {
  font-size: 24px;
  font-family: 'Nexa-XBold', sans-serif;
  margin-top: 20px;
  line-height: 1.2em;
}
.method__content--body__action .test {
  background: url('../../assets/icons/icon_test_color.svg') center center
    no-repeat;
}
.method__content--body__action .vocab {
  background: url('../../assets/icons/icon_vocab_color.svg') center center
    no-repeat;
}
.method__content--body__action .reading {
  background: url('../../assets/icons/icon_reading_color.svg') center center
    no-repeat;
}
.method__content--body__action .train {
  background: url('../../assets/icons/icon_train_color.svg') center center
    no-repeat;
}
.method__content--body__action .target {
  background: url('../../assets/icons/icon_target_color.svg') center center
    no-repeat;
}
.method__content--body__info {
  width: 20%;
  padding: 0 2%;
  line-height: 1.4em;
}
.method__content--body__info .text {
  margin-bottom: 20px;
}
.method__content--body__info .list {
  margin-left: 20px;
}
.method__content--body__image {
  display: block;
  max-height: 400px;
  max-width: 60%;
  min-width: 20%;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .method__content--body__action {
    width: 30%;
  }
  .method__content--body__action .item {
    width: 80px;
    height: 80px;
  }
  .method__content--body__action .test {
    background: url('../../assets/icons/icon_test_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__action .vocab {
    background: url('../../assets/icons/icon_vocab_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__action .reading {
    background: url('../../assets/icons/icon_reading_md_color.svg') center
      center no-repeat;
  }
  .method__content--body__action .train {
    background: url('../../assets/icons/icon_train_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__action .target {
    background: url('../../assets/icons/icon_target_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__info {
    width: 40%;
  }
  .method__content--body__image {
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .method__content {
    padding: 0 5%;
  }
  .method__content--body {
    display: flex;
    flex-direction: column;
  }
  .method__content--body__action {
    width: 100%;
  }
  .method__content--body__action .item {
    width: 80px;
    height: 80px;
  }
  .method__content--body__action .test {
    background: url('../../assets/icons/icon_test_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__action .vocab {
    background: url('../../assets/icons/icon_vocab_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__action .reading {
    background: url('../../assets/icons/icon_reading_md_color.svg') center
      center no-repeat;
  }
  .method__content--body__action .train {
    background: url('../../assets/icons/icon_train_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__action .target {
    background: url('../../assets/icons/icon_target_md_color.svg') center center
      no-repeat;
  }
  .method__content--body__info {
    width: 100%;
    padding: 0;
    margin: 40px 0;
  }
  .method__content--body__image {
    min-width: 100%;
  }
}
