.video {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .video {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .video video {
    height: 200px;
  }
}
