.footer {
  &__section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #8CBE82;
    color: white;
    padding: 40px 20px;

    &__actions {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .button:nth-child(1) {
        margin-bottom: 20px;
      }

      .button {
        border: 1px solid #FFFFFF;
        background: none;
        padding: 12px 18px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        outline: none;
        transition: 0.5s ease;
      }

      .button:hover {
        background-color: #619756;
      }
    }

    &__address {
      width: 50%;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    &__section {

      &__actions {
      }

      &__address {
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer {
    &__section {

      &__actions {
      }

      &__address {
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    &__section {
      flex-direction: column;
      align-items: center;
      &__brand {
        display: none;
      }

      &__actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__address {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
