.footer__section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #8eb352;
  color: white;
  padding: 40px 20px;
}
.footer__section__actions {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer__section__actions .button:nth-child(1) {
  margin-bottom: 20px;
}
.footer__section__actions .button {
  background: none;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: 0.5s ease;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.footer__section__actions .sign-up {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_signup.svg') center center no-repeat;
}
.footer__section__actions .email {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_email.svg') center center no-repeat;
}
.footer__section__actions .phone {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_phone.svg') center center no-repeat;
}
.footer__section__actions .location {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url('../../assets/icons/icon_location.svg') center center
    no-repeat;
}
.footer__section__address {
  width: 50%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer__section {
    flex-direction: column;
    align-items: center;
  }
  .footer__section__brand {
    display: none;
  }
  .footer__section__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__section__actions .button {
    font-size: 10px;
  }
  .footer__section__address {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
