.testimonials {
  height: 100vh;
}
.testimonials__section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.testimonials__section .section {
  margin-bottom: 50px;
}
.testimonials__section__content {
  width: 100%;
  margin-bottom: 100px;
  background-color: #8cbe82;
}
.testimonials__section__content .user--image {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 100%;
  left: 10%;
  margin-top: -100px;
  border: 1px solid #619756;
}
.testimonials__section__content .user--content {
  padding: 2% 20% 2% 25%;
  color: #ffffff;
}
.testimonials__section__content .user--content__name {
  font-size: 18px;
  font-weight: bold;
}
.testimonials__section__content .user--content__profession {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 8px;
}
.testimonials__section__content .user--content__location {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 4px;
}
.testimonials__section__content .user--content__comment {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin: 12px 0;
}
.testimonials__section__content .user--content__summary {
  font-size: 14px;
  margin-top: 12px;
}
.testimonials__section__left {
  width: 48px;
  height: 48px;
  background: url('../../assets/icons/arrow-left.svg') center center no-repeat;
}
.testimonials__section__right {
  position: absolute;
  left: 60px;
  width: 48px;
  height: 48px;
  background: url('../../assets/icons/arrow-right.svg') center center no-repeat;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials__section__content .user--image {
    width: 150px;
    height: 150px;
    left: 5%;
    margin-top: -75px;
  }
  .testimonials__section__content .user--content {
    padding: 12%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .testimonials__section__content {
    margin-bottom: 100px;
  }
  .testimonials__section__content .user--image {
    width: 100px;
    height: 100px;
    left: 5%;
    margin-top: -50px;
  }
  .testimonials__section__content .user--content {
    padding: 10%;
  }
  .testimonials__section__content .user--content__name {
    margin-top: 20px;
  }
}
