.testimonials {
  margin: 10% 0;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;

    .section {
      margin-bottom: 50px;

    }

    &__content {
      width: 100%;
      margin-bottom: 100px;
      background-color: #8CBE82;

      .user--image {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #FFFFFF;
        z-index: 1;
        border-radius: 100%;
        left: 10%;
        margin-top: -100px;
        border: 1px solid #619756;
      }

      .user--content {
        padding: 2% 20% 2% 25%;
        color: #FFFFFF;

        &__name {
          font-size: 18px;
          font-weight: bold;
        }

        &__profession {
          font-size: 12px;
          font-weight: lighter;
          margin-top: 8px;
        }

        &__location {
          font-size: 12px;
          font-weight: lighter;
          margin-top: 4px;
        }

        &__comment {
          font-size: 24px;
          font-weight: 500;
          font-style: italic;
          margin: 12px 0;
        }

        &__summary {
          font-size: 14px;
          margin-top: 12px;
        }
      }
    }

    &__left {
      //position: absolute;
      //left: 0;
      width: 48px;
      height: 48px;
      background: url("../../assets/icons/arrow-left.svg") center center no-repeat;
    }

    &__right {
      //right: 0;
      position: absolute;
      left: 60px;
      width: 48px;
      height: 48px;
      background: url("../../assets/icons/arrow-right.svg") center center no-repeat;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials {
    &__section {
      &__content {
        .user--image {
          width: 150px;
          height: 150px;
          left: 5%;
          margin-top: -75px;
        }

        .user--content {
          padding: 12%;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .testimonials {
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .testimonials {

    &__section {
      &__content {
        margin-bottom: 100px;

        .user--image {
          width: 100px;
          height: 100px;
          left: 5%;
          margin-top: -50px;
        }

        .user--content {
          padding: 10%;

          &__name {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
