.testimonials {
  padding: 5%;
  background-color: #d71920;
}
.testimonials__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.testimonials__section .section {
  margin-bottom: 50px;
}
.testimonials__section__content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.testimonials__section__content .user--image {
  min-width: 150px;
  height: 150px;
  margin-left: 10%;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 100%;
  border: 1px solid #619756;
}
.testimonials__section__content .user--content {
  margin-left: 5%;
  margin-right: 10%;
  color: #000000;
  min-height: 270px;
}
.testimonials__section__content .user--content__name {
  font-size: 18px;
  font-weight: bold;
}
.testimonials__section__content .user--content__profession {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 8px;
}
.testimonials__section__content .user--content__location {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 4px;
}
.testimonials__section__content .user--content__comment {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin: 12px 0;
  color: #619756;
}
.testimonials__section__content .user--content__summary {
  font-size: 14px;
  margin-top: 12px;
  color: #666666;
}
.testimonials__section__left {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 2%;
  background: url('../../assets/icons/arrow-left.svg') center center no-repeat;
}
.testimonials__section__right {
  position: absolute;
  width: 54px;
  height: 54px;
  right: 2%;
  background: url('../../assets/icons/arrow-right.svg') center center no-repeat;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials__section__content {
    min-height: 400px;
  }
  .testimonials__section__content .user--image {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .testimonials__section .section {
    margin-bottom: 0;
  }
  .testimonials__section__content {
    min-height: 650px;
    flex-direction: column;
  }
  .testimonials__section__content .user--image {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
  }
  .testimonials__section__content .user--content {
    margin-left: 15%;
    margin-right: 10%;
  }
  .testimonials__section__content .user--content__name {
    margin-top: 20px;
  }
}
