.zinc {
  padding: 5% 12%;
  background: url('../../assets/images/zinc_bg.jpg') no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
}
.zinc .parallax {
  background: none;
  padding: none;
}
.zinc__container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .zinc {
    padding: 2%;
    background: url('../../assets/images/zinc_bg_ipad.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  .zinc .parallax {
    padding: 70% 10% 0 10%;
    background: url('../../assets/images/zinc_bg_ipad.jpg') no-repeat;
    background-size: contain;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .zinc {
    background: url('../../assets/images/zinc_bg_mob.jpg') no-repeat center
      center fixed;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .zinc {
    padding: 10% 5%;
    background: url('../../assets/images/zinc_bg_mob.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  .zinc .parallax {
    padding: 70% 0 0 0;
    background: url('../../assets/images/zinc_bg_mob.jpg') no-repeat;
    background-size: contain;
  }
  .zinc__container {
    width: 100%;
  }
}
