.zinc {
  padding: 5%;
  background-color: rgb(236, 0, 140);
  color: #FFFFFF;

  &__container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .zinc {
    padding: 10%;

    &__container {
      width: 100%;
    }
  }
}