.news {
  padding: 5% 12%;
  background: url('../../assets/images/news_bg.jpg') no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
}
.news .parallax {
  background: none;
  padding: none;
}
.news__container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}
.news__container p {
  padding: 2% 10% 0 10%;
  text-align: left;
  color: #222222;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news {
    padding: 2%;
    background: url('../../assets/images/news_bg_ipad.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  .news .parallax {
    padding: 70% 10% 0 10%;
    background: url('../../assets/images/news_bg_ipad.jpg') no-repeat;
    background-size: contain;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .news {
    background: url('../../assets/images/news_bg_mob.jpg') no-repeat center
      center fixed;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .news {
    background: url('../../assets/images/news_bg_mob.jpg') no-repeat;
    padding: 15% 5%;
    background-size: cover;
    -webkit-background-size: cover;
  }
  .news .parallax {
    padding: 80% 0 0 0;
    background: url('../../assets/images/news_bg_mob.jpg') no-repeat;
    background-size: contain;
  }
  .news__container {
    width: 100%;
  }
}
